iso_tmp_data
initrd/system/include/*
initrd/system/*.raw
initrd/system/lib/*.raw
!initrd/system/include/.gitkeep
tools/*
!tools/ExtMemDbg
!tools/stage2_eltorito
!tools/*.md
!tools/*.css
!tools/README.md
!tools/menu.lst
!tools/website
!tools/Makefile
!tools/*.c
!tools/*.cpp
!tools/*.cfg
!tools/toolchain-binutils-gdb.patch
!tools/toolchain-gcc.patch
doxygen-doc
initrd.tar.gz
.dccache
*.log
*.log.*
*.img
*.iso
*.drv
*.fex
*.elf
*.a
*.so
*.o
*.dmp
