iso_tmp_data
initrd_tmp_data
initrd/usr/include/*
!initrd/usr/include/.gitkeep
tools/*
!tools/ExtMemDbg
!tools/stage2_eltorito
!tools/*.md
!tools/*.css
!tools/README.md
!tools/website
!tools/Makefile
!tools/*.c
!tools/*.cpp
!tools/*.cfg
doxygen-doc
initrd.tar.gz
.dccache
*.log
*.log.*
*.img
*.qcow2
*.iso
*.drv
*.fex
*.a
*.so
*.o
*.dmp
