[submodule "Kernel"]
	path = Kernel
	url = https://github.com/Fennix-Project/Kernel.git
[submodule "Lynx"]
	path = Lynx
	url = https://github.com/Fennix-Project/Lynx.git
[submodule "Userspace"]
	path = Userspace
	url = https://github.com/Fennix-Project/Userspace.git
[submodule "Modules"]
	path = Modules
	url = https://github.com/Fennix-Project/Modules.git
