iso_tmp_data
initrd/system/include/*
!initrd/system/include/.gitkeep
tools/*
!tools/stage2_eltorito
!tools/*.md
!tools/*.css
!tools/README.md
!tools/menu.lst
!tools/website
!tools/Makefile
!tools/*.c
!tools/*.cpp
!tools/*.cfg
doxygen-doc
initrd.tar.gz
*.log
*.img
*.iso
*.drv
*.fex
*.elf
*.a
*.o
